/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container_page {
  background: white;
  display: flex;
  width: 100%;
  height: 100%;
}

.main_page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_header {
  background: white;
  height: 66px;
  width: 1035px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.search_block {
  display: flex;
  align-items: center;
}

.search_img {
  width: 34px;
  height: 34px;
}

.search_block input {
  width: 400px;
  height: 30px;
}

.icons_block {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
  gap: 38px;
  margin-right: 85px;
}

.icon_calendar img {
  width: 32px;
  height: 34px;
}

.icon_profil img {
  width: 25px;
  height: 25px;
}

.icon_login {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

.icon_login img {
  width: 26px;
  height: 25px;
}

.icon_language {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 3px;
}

.icon_language img {
  width: 23px;
  height: 23px;
}

.main_page_content {
  width: 100%;
  padding: 32px;
  margin-top: 60px;
  height: 1000px;
  display: flex;
  flex-flow: column nowrap;
}

.main_left_column {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 333px;
  height: 100%;
}

.header_column {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 104px;
  padding: 20px 40px;
}

.logo_ufu img {
  width: 72px;
  height: 72px;
}

.logo_ictib img {
  width: 133px;
  height: 58px;
}

.scroll_info {
  padding: 10px 0 0 8px;
  width: 333px;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 10px;
  background: linear-gradient(180deg, #87ae1d 0%, #1966a8 64.58%, #262878 100%);
}
.point {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 8px;
}

.point :hover {
  background-color: rgba(149, 141, 141, 0.508);
}

.point a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
}

.point img {
  width: 20px;
  height: 20px;
}

.main_page_content_title {
  color: #154385;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 35px;
}

.main_page_content_form {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
}
.main_page_content_form p {
  font-size: 24px;
}

/* .count */

.submit_form {
  margin-top: 10px;
  background-color: green;
  width: 125px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.humans {
  display: flex;
  gap: 15px;
  flex-flow: row wrap;
}
input[type="date"] {
  background-color: #154385;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.hero {
  display: flex;
  flex-flow: column;
  gap: 5px;
  border: rgba(62, 59, 59, 0.272) 2px solid;
  width: 400px;
  padding: 7px;
}

.hero input {
  border: gray 1px solid;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
